[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
ipython = "*"
jupyterlab = "*"
twine = "*"
flake8 = "*"
black = "*"
pre-commit = "*"

[packages]
numpy = "*"
astropy = "*"
xarray = "*"
netcdf4 = "*"
matplotlib = "*"
pandas = "*"
dask = {extras = ["complete"],version = "*"}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
