[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
numpy = "*"
pandas = "*"
xarray = "*"
astropy = "*"
netcdf4 = "*"
matplotlib = "*"
dask = {extras = ["complete"],version = "*"}
toml = "*"

[dev-packages]
twine = "*"
ipython = "*"
jupyterlab = "*"
flake8 = "*"
black = "*"
pytest = "*"
pytest-cov = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
pre-commit = "*"
sdarray = {editable = true,path = "."}

[scripts]
lab = "jupyter lab"
publish = "etc/publish"
pytest = "pytest tests"
